node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

*.code-workspace
seeds.json
notes.txt
TODO.txt
*.temp-file